:root {
  --size-border: 1px;
  --size-border-focus: 2px;

  --size-zero: 10px;
  --size-first: 1.2rem;
  --size-second: 1.4rem;
  --size-third: 1.6rem;
  --size-fourth: 2rem;
  --size-fifth: 2.4rem;
  --size-sixth: 3.4rem;
  --size-seventh: 4.8rem;
  --size-eighth: 6rem;
  --size-nineth: 9.6rem;
}
